numpy
scipy
sklearn
umap-learn
networkx
torch
transformers
msgpack
aiohttp
pynput
pymem
renderdoc
steam
steamworks
torchdiffeq
mlflow
wandb
kubeflow-pipelines
prometheus-client
grafana-api
streamlit
plotly
pandas
prophet
