# deploy/metrics/docker-compose.metrics.yml
version: '3'
services:
  prometheus-federated:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=30d'
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=merkabah7
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
