[submodule "skills/medical-skills"]
	path = skills/medical-skills
	url = https://github.com/MedClaw-Org/OpenClaw-Medical-Skills.git
[submodule "agents/hermes-agent"]
	path = agents/hermes-agent
	url = https://github.com/NousResearch/hermes-agent
[submodule "arkhe-ml/BitNet"]
	path = arkhe-ml/BitNet
	url = https://github.com/microsoft/BitNet.git
[submodule "tools/openbrowser"]
	path = tools/openbrowser
	url = https://github.com/ntegrals/openbrowser
