[package]
name = "rust-asi-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
# no_std support
# core = { version = "1.0", package = "rustc-std-workspace-core" }
# alloc = { version = "1.0", package = "rustc-std-workspace-alloc" }
